body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; 
  }

.top-bar {
  padding: .5rem 0;
  background: #eee; }
  .top-bar a {
    color: #666666; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem; }
  @media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    position: absolute;
    width: auto;
  }
    @media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #007bff !important; }
    .site-navbar .site-navigation .site-menu a {
      /* text-decoration: none !important; */
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #fff !important;
        display: inline-block;
        font-size: 15px;
        font-family: 'Lato', sans-serif !important;

       }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #007bff; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #007bff;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #007bff !important;
            background: #f8f9fa; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f8f9fa;
              color: #ced4da; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f8f9fa;
            color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #007bff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529;
      font-size: 15px;
      font-family: 'Lato',sans-serif;
     }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #007bff; }
    /* .site-navbar .site-navigation .site-menu > li > a:hover{
      text-decoration: overline;
    } */
    .site-navbar .site-navigation .site-menu > li > a{
      display: inline-block;
      position: relative;
      color: #fff;
    }
    .site-navbar .site-navigation .site-menu > li > a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .site-navbar .site-navigation .site-menu > li > a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%; 
  height: 100%;
}
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    background: linear-gradient(90deg, #0A2640 36.46%, #124F88 100%);
    max-width: 1600px !important;
  }
    .sticky-wrapper .site-navbar .site-logo a {
      color: #fff; }
    .sticky-wrapper .site-navbar ul li a {
      color: rgba(255, 255, 255, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
        color: #fff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: linear-gradient(90deg, #0A2640 36.46%, #124F88 100%);
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #007bff; }
    .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #fff !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: #007bff !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important; } 
}

/* custom - code */

.main-logo{
  width: 100%;
}
  /* Homepage */
  #hm-hero .inner{
    position: relative;
  }

  #video-viewport {
    position: relative; 
    top: 0; 
    left: 0;
     width: 100%; 
     height: 100%; 
     overflow: hidden; 
     z-index: -1; 
   }
 video {
    display: block; 
    width: 100%; 
    height:100%; 
   }
 
 .fullsize-video-bg { 
   height: 100%; 
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.650); }
 
    .fullsize-video-bg .inner { 
    display: table; 
     width: 100%;
     vertical-align: middle;
     height: 100%; 
     margin: 0 auto;
     padding: 50px; 
     position: relative;
     z-index: 2; 
     text-shadow: 0 1px 5px rgba(0,0,0,.5);
     margin-bottom: -370px; 
     }
     .homepage-video-content{
       font-size: 20px;
       font-family: 'Lato', Sans-serif;
       color: #f1f1f1;
       width: 50%;
       padding: 20px;
       font-weight: 300;
     }
     .homepage-video-headline {
       margin: 0;
       color: #fff;
       font-weight: 500;
       font-family: 'Lato', Sans-serif;
       font-size: 45px;
       letter-spacing: 7px;
       word-spacing: 5px;
       /* background-color: #FFFFFFF2; */
       padding:20px;
       text-align: left;
     }
.faculty-home-header{
  background: linear-gradient(90deg, #0A2640 36.46%, #124F88 100%);
  height: 30%;
  padding: 20px 10px 20px 10px;
}
.faculty-headline{
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 10px;
}
.faculty-association-content{
  padding: 30px 10px 30px 10px;
}
.home-hello-heading{
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding: 10px;
}
.home-hello-content{
  font-family: 'Lato',sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000;
  text-align: justify;
  padding: 10px;
}
.homepage-video-img{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 14px;
}
.homepage-readmore-btn {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #0A2640;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 font-size: 15px;
 font-family: 'Lato',sans-serif;
text-transform: uppercase;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 -webkit-transform: translateY(-0.2em);
     -ms-transform: translateY(-0.2em);
         transform: translateY(-0.2em);
 -webkit-transition: -webkit-transform 0.1s ease;
 transition: -webkit-transform 0.1s ease;
 transition: transform 0.1s ease;
 transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
.button_top:hover{
  color: #124F88;
}

.homepage-readmore-btn:hover .button_top {
  /* Pull the button upwards when hovered */
 -webkit-transform: translateY(-0.33em);
     -ms-transform: translateY(-0.33em);
         transform: translateY(-0.33em);
}

.homepage-readmore-btn:active .button_top {
  /* Push the button downwards when pressed */
 -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
         transform: translateY(0);
}
.homepage-video-right{
  padding: 50px 0;
}
.hm-sec{
  text-align: center;
}
.hm-sec img{
  width: 100%;
}
.hm_mission_vision{
  background: linear-gradient(90deg, #0A2640 0%, #124F88 100%);
  padding: 20px 20px;
}
.hm-mission h3{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;
  padding: 10px 0px;
}
.hm-mission li{
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding: 5px 0px;
}
.hm-contact-heading h3{
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, #0A2640 0%, #124F88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 10px;
  margin-left: 20px;
}
.hm-contact-content p{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px;
  color: #000;
  margin-left: 20px;
}

/* Executive - Committee */
.EC-banner-hero {
  background: linear-gradient(#0006, rgba(0, 0, 0, 0.26)), url('https://firebasestorage.googleapis.com/v0/b/react-projects-83889.appspot.com/o/faculty-association%2Fimages%2FEC_banner.png?alt=media&token=72ad9b65-3883-4e3e-9915-1871647626b4');
/*   background-image: url(https://source.unsplash.com/2600x1200?city); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
/*   background-color: #eee; */
  display: flex;
  justify-content: left;
  align-items: flex-end;  
}
.EC-contact-bg{
  background: linear-gradient(90deg, #0A2640 16.67%, #124F88 100%);
  display: grid;
  place-items: center;
}
.EC-contact h4{
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: grid;
}
.EC-name-dept{
  display: grid;
  place-items: center;
}
.EC-members-name h4{
  font-size: 20px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, #0A2640 0%, #124F88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.EC-members-name h5{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: #124F88;
  
}
.EC-members img{
  width: 70%;
  text-align: center;
}
.EC-members{
  text-align: center;
}
.EC-members-designation{
  padding: 10px 10px 0px 10px;
}
.EC-members-designation h4{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #124F88;
}
.EC-box-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}






/* footer */
.footer_logo{
  width: 40%;
  padding: 20px 5px 20px 5px;
}
.footer-left h6{
  font-size: 15px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 5px;
}
.footer_a{
  color: #fff;
}
.footer_bg{
  background: linear-gradient(90deg, #0A2640 0%, #124F88 100%);
}
.footer_social{
  font-size: 40px;
  text-align: center;
}
.footer_social a{
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;

}
.fa{
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #fff;
  mix-blend-mode: overlay;
}
.fa:hover{
  color: #000;
}
.skillskapes{
  text-align: center;
  background: #fff;
  mix-blend-mode: overlay;
  padding: 30px 0px 20px 0px;
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.skillskapes p{
  color: #000;
  font-weight: 500;
  font-size: 15px;
}
.skillskapes span{
  background: linear-gradient(270deg, #DB7186 0%, #3F827D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.copyrights{
  padding: 25px 10px 30px 10px;
}
.copyrights h6{
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 300;

}
/* custom media query */
@media only screen and (max-width: 600px) {
  .main-logo{
    width: 55%;
    text-align: right;
  }
  .toggle-button{
    text-align: right;
  }
  .homepage-video-headline{
    font-size: 20px;
  }
  .homepage-video-content{
    font-size: 15px;
    width: auto;
  }
  .fullsize-video-bg .inner{
    padding: 0px;
    margin:0px 0px -420px 0px;
  }
  video{
    width: auto;
  }
  .homepage-video-right{
    padding: 10px 0;
  }
  .hm-sec img{
    padding: 10px;
  }
  .hm-mission h3{
    font-size: 26px;
  }
  .hm-mission li{
    font-size: 15px;
  }
  .hm-contact-heading h3{
    font-size: 26px;
  }
  .hm-contact-content p{
    font-size: 15px;
  }
  .EC-members-name{
    text-align: center;
  }
  .EC-members-designation h4{
    font-size: 18px;
  }
  .EC-members-name h5{
    font-size: 17px;
  }
  .EC-contact h4{
    font-size: 17px;
  }
  .EC-contact-bg{
    padding: 15px 0;
  }
  
  



  /* footer */
  .footer-left h6{
    font-size: 15px;
    font-weight: 300 !important;
  }
  .footer_social{
    font-size: 20px;
    text-align: center;
  }
  .skillskapes p{
    font-size: 14px;
  }
  .copyrights h6{
    font-size: 13px;
    font-weight: 300;
  }
  

}
/* for macbook */
@media only screen and (min-width: 1200px) {
  .fullsize-video-bg .inner{
    padding: 0px;
    margin:0px 0px -370px 0px;
    padding: 20px;
  }
  video{
    width: auto;
  }

}

